/* Visibility */
.hidden-for-small-only,
.hidden-for-medium-only,
.hidden-for-xlarge-up,
.hidden-for-xlarge-only,
.hidden-for-xxlarge-up {
	visibility: visible;
}


.hidden-for-medium-up,
.hidden-for-large-only,
.hidden-for-large-up {
	visibility: hidden;
}

.show-for-medium-up,
.show-for-large-up,
.show-for-large-only,

.hide-for-small-only,
.hide-for-medium-only,
.hide-for-xlarge-only,
.hide-for-xxlarge-up {
	display: block;
}
.show-for-small-only,
.show-for-medium-only,
.show-for-xlarge-up,
.show-for-xlarge-only,
.show-for-xxlarge-up,

.hide-for-medium-up,
.hide-for-large-only,
.hide-for-large-up,
.hide-for-xlarge-up {
	display: none;
}

/* The Grid */
$columns: 1;

.columns {
	float: left;
	padding: 0 15px;
}

@while $columns < 13 {

	$math: ($columns/12)*100%;

	.columns {
		/* Small */
		&.small-#{$columns} {
			width: $math;
		}
		&.small-offset-#{$columns} {
			margin-left: $math !important;
		}
		&.small-push-#{$columns} {
			left: $math;
		}
		&.small-pull-#{$columns} {
			right: $math;
			left: auto;
		}

		/* Medium */
		&.medium-#{$columns} {
			width: $math;
		}
		&.medium-offset-#{$columns} {
			margin-left: $math !important;
		}
		&.medium-push-#{$columns} {
			left: $math;
		}
		&.medium-pull-#{$columns} {
			right: $math;
			left: auto;
		}

		/* Large */
		&.large-#{$columns} {
			width: $math;
		}
		&.large-offset-#{$columns} {
			margin-left: $math !important;
		}
		&.large-push-#{$columns} {
			left: $math;
		}
		&.large-pull-#{$columns} {
			right: $math;
			left: auto;
		}
	}

	$columns: $columns + 1;

}