/* ---------------------------------------------------------------------
 * G00 - Imports and Lists
 * G01 - Heights / Padding / Margins
 * G02 - Backgrounds, Colors, and Borders
 * G03 - Background Positioning
 * G04 - Icons and Section Titles
 * G05 - Buttons
 * G06 - Modals
 -------------------------------------------------------------------- */

@import 'animations';
@import 'structure';
@import 'header';
@import 'archive';
@import 'single';
@import 'footer';

$direction-list: top, right, bottom, left;

/* ---------------------------------------------------------------------
 * G01 - Heights / Padding / Margins
 -------------------------------------------------------------------- */

.padding-all {
	padding: 2rem;
}

.small-padding {
	padding: 1rem;
}

.large-padding {
	padding: 4rem;
}

.no-padding {
	padding: 0;
}

.vertical-padding {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.small-vertical-padding {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.large-vertical-padding {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.horizontal-padding {
	padding-left: 2rem;
	padding-right: 2rem;
}

.small-horizontal-padding {
	padding-left: 1rem;
	padding-right: 1rem;
}

.large-horizontal-padding {
	padding-left: 4rem;
	padding-right: 4rem;
}

@each $direction in $direction-list {
    .no-padding-#{$direction} { 
        padding-#{$direction}: 0rem;
    }

    .small-padding-#{$direction} { 
        padding-#{$direction}: 1rem;
    }

    .padding-#{$direction} { 
        padding-#{$direction}: 2rem;
    }

    .large-padding-#{$direction} { 
        padding-#{$direction}: 4rem;
    }    
}

.no-margin {
	margin: 0;
}

@each $direction in $direction-list {
	
	.no-margin-#{$direction} { 
        margin-#{$direction}: 0rem;
    }

	.small-margin-#{$direction} { 
        margin-#{$direction}: 1rem;
    }

    .margin-#{$direction} { 
        margin-#{$direction}: 2rem;
    }

    .large-margin-#{$direction} { 
        margin-#{$direction}: 4rem;
    }
}

@for $i from 1 through 10 {
	.min-height-#{$i * 50} {
		min-height: #{$i * 50}px;
	}

	.min-height-#{$i * 10}vh {
		min-height: #{$i * 10}vh;
	}

	.height-#{$i * 50} {
		height: #{$i * 50}px;
	}

	.height-#{$i * 10}vh {
		height: #{$i * 10}vh;
	}
}

.table, .table-full {
	display: table;

	> .vertical {
		display: table-cell;
		vertical-align: middle;
	}

	> .bottom {
		display: table-cell;
		vertical-align: bottom;
	}

}

.table-full {
	width: 100%;
}

/* ---------------------------------------------------------------------
 * G02 - Backgrounds, Colors, and Borders
 -------------------------------------------------------------------- */

 .color-white {
 	color: $white;
 }

 @each $direction in $direction-list {
 	.border-#{$direction} {
 		border-#{$direction}: 1px solid $dark-gray;
 	}

 	@media #{$medium-up} {
 		.border-#{$direction}-desktop {
	 		border-#{$direction}: 1px solid $dark-gray;
	 	}
 	}

 	@media #{$small-only} {
 		.border-#{$direction}-mobile {
	 		border-#{$direction}: 1px solid $dark-gray;
	 	}
 	}

 }

/* ---------------------------------------------------------------------
 * G03 - Background Positioning
 -------------------------------------------------------------------- */

.background-cover {
	background-size: cover;
	background-repeat: no-repeat;
}

.background-fixed {
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.background-parallax {
	background-size: cover;
}

.background-repeat {
	background-repeat: repeat;
}

.background-top {
	background-position-y: top;
}

.background-right {
	background-position-x: right;
}

.background-bottom {
	background-position-y: bottom;
}

.background-left {
	background-position-x: left;
}

.background-center {
	background-position: center center;
}

.background-center-vertical, .background-vertical {
	background-position-y: center;
}

.background-center-horizontal, .background-horizontal {
	background-position-x: center;
}

.background-overlay, .background-overlay-light {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
		top: 0;
		left: 0;
	}

	> * {
		position: relative;
		z-index: 2;
	}
}

.background-overlay {
	&:before {
		background-color: rgba($black, .3);
	}
}

.background-overlay-light {
	&:before {
		background-color: rgba($white, .3);
	}
}

/* ---------------------------------------------------------------------
 * G04 - Icons and Section Titles
 -------------------------------------------------------------------- */

 .section-icon {
 	font-size: 3.75rem;
 	text-align: center;
 	text-shadow: 0px 2px 5px rgba($black, .75);
 }

 .section-title {
 	display: block;
 	text-align: center;
 	text-shadow: 0px 2px 5px rgba($black, .75);
 }

 .form-icon {
 	font-size: 5rem;
 	text-align: center;

 	&:before {
 		color: $secondary-color;
 	}
 }

 .intro-top-line, .intro-bottom-line {
 	
 }

 /* ---------------------------------------------------------------------
 * G05 - Buttons
  -------------------------------------------------------------------- */

 button, .button {
 	text-transform: uppercase;
 }


 /* ---------------------------------------------------------------------
 * G06 - Modals
  -------------------------------------------------------------------- */

.modal {
	display: none;
	position: fixed;
	background: $white;
	height: auto;
	width: 600px;
	max-width: 80%;
	box-shadow: 0px 0px 20px $white, 0px 0px 10px $black;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 4rem;

	z-index: 10142017;

	&.active {
		display: block;
	}

	.modal-close {
		position: absolute;
		top: .5rem;
		right: .75rem;
		cursor: pointer;
	}

	label {
		display: inline-block;
		float: left;
		margin-bottom: 8px;
	}
}

.modal-overlay {
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: rgba($white, .6);

	z-index: 101417;

	body.modal-active & {
		display: block;
	}
}

body.modal-active {
	overflow: hidden;
}
